---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import Fleet from "../../components/Fleet";
import WhatsNext from "../../components/WhatsNext.astro";
import {
  AIRCRAFT_FLEET_KEYWORDS,
  DISCOVERY_EXPERIENCE_KEYWORDS,
  CORE_PROGRAM_KEYWORDS,
  LOCATION_KEYWORDS,
  RENTAL_GROUND_KEYWORDS,
} from "../../consts";
---

<BaseLayout
  pageTitle="Our Fleet | Summit Flight Academy"
  pageDescription="Explore Summit Flight's diverse fleet of Piper aircraft for flight training and rentals. Learn about the reliability and ease of flying offered by Piper models like the Cherokee, Warrior, and Archer. Inquire today for rental availability."
  pageKeywords=`${AIRCRAFT_FLEET_KEYWORDS}, ${RENTAL_GROUND_KEYWORDS}, ${CORE_PROGRAM_KEYWORDS}, ${LOCATION_KEYWORDS},${DISCOVERY_EXPERIENCE_KEYWORDS}, Summit Flight, flight training, rentals, Piper Aircraft, PA-28, Cherokee, Warrior, Archer, Garmin avionics suite`
>
  <header
    class="relative h-screen-3/4 bg-our-fleet bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/70 to-black/40 w-full h-full z-0"
    >
    </div>
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tighter">Meet the Summit Fleet</h1>
      <h2 class="text-3xl tracking-wide">
        Our extensive fleet available for flight training
      </h2>
    </div>
  </header>

  <UnderHeader
    title="The Pipers"
    text1="Our fleet at Summit Flight is an all-Piper fleet.  Piper Aircraft continues to build some of the most reliable, docile, easy-to-fly aircraft ever made for the training environment.  Hundreds of thousands of pilots have earned their wings in one of over 144,000 aircraft Piper has built since the 1930s."
    text2=`Our single engine aircraft are all variants of the Piper "PA-28" model consisting of Piper Cherokees, Warriors, and Archers. Most of our aircraft share a similar panel layout and Garmin avionics suite to assist students with transitioning between aircraft.`
    text3="We maintain our aircraft in-house and work to quickly address maintenance needs proactively and as they arise."
  />

  <Fleet client:visible />

  <WhatsNext
    title="Interested in Flying?"
    body="Reach out to us and let Summit Flight Academy get you up in the air shortly."
  />
</BaseLayout>
