---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import CommercialRoadmap from "../../components/CommercialRoadmap.astro";
import WhatsNext from "../../components/WhatsNext.astro";
import CommercialPackage from "../../components/CommercialPackage.astro";
import FAQs from "../../components/FAQs";
import { commercialPilotFAQs } from "../../data/commercialPilotFAQs";
import EnrollmentModalButton from "../../components/enrollmentModalButtom";
import ProgramSuggester from "../../components/ProgramSuggester";
import commercialPackages from "../../data/commercialPackages";
const GHL_ENROLL_FORM_WEBHOOK_URL = import.meta.env.GHL_ENROLL_FORM_WEBHOOK_URL;
const PORTAL_API_KEY = import.meta.env.PORTAL_API_KEY;
const packages = commercialPackages;
---

<BaseLayout
  pageTitle="Commercial Pilot | Summit Flight Academy"
  pageDescription="Take your aviation career to new heights with Summit Flight Academy's Commercial Pilot training program. Gain the expertise and flight experience required to obtain your coveted Commercial Pilot Certificate (CPL), enabling you to fly professionally and get paid for your services. From meeting flight hour requirements and passing written exams to mastering cross-country missions and acing the checkride, our experienced instructors guide you through every step, ensuring you emerge as a highly skilled and qualified commercial pilot."
  pageKeywords="commercial pilot training, commercial pilot certificate, commercial pilot license (CPL), flight school training, aviation career path, pilot certification requirements, cross-country flight training, commercial pilot checkride, professional pilot opportunities, get paid to fly"
>
  <!-- <PageHeader
    title="Become a Commercial Pilot"
    subtitle="Get paid to fly!"
    headerImg="commercial-pilot"
    imgPosition="top"
    imgStartOpacity="60"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-commercial-pilot bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Become a Commercial Pilot
      </h1>
      <h2 class="text-3xl tracking-wide">Get paid to fly!</h2>
      <EnrollmentModalButton
        client:visible
        btnStyle={"btn-red"}
        btnText={"Apply Today"}
        webhookUrl={GHL_ENROLL_FORM_WEBHOOK_URL}
        apiKey={PORTAL_API_KEY}
      />
    </div>
  </header>

  <UnderHeader
    title="What is a Commercial Pilot Certificate?"
    text1=`Obtaining a commercial pilot certificate is another milestone in an aviator's journey, opening doors to exciting professional opportunities within the aviation industry. At Summit Flight Academy, we understand the importance of this achievement and are dedicated to providing comprehensive training and support to help aspiring pilots earn their commercial pilot license (CPL). With this certification, pilots gain the authority to act as pilot in command (PIC) in commercial situations, receiving compensation for their services while ensuring safe and efficient flight operations.`
  />

  <CommercialRoadmap />

  <ProgramSuggester
    packages={packages}
    client:load
    webhookUrl={GHL_ENROLL_FORM_WEBHOOK_URL}
    apiKey={PORTAL_API_KEY}
  />

  <WhatsNext />

  <FAQs faqs={commercialPilotFAQs} type="Commercial Pilot" client:visible />

  <!-- <DiscoveryFlightCTA /> -->

  <!-- <ContactUs /> -->
</BaseLayout>
