---
import GuideDownload from "../components/GuideDownload.astro";
import ContactUs from "../components/ContactUs.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import TrainingProgramImage from "../../public/img/fromWIX/IMG_3281_edited.png";
import DiscoveryFlightImage from "../../public/img/fromWIX/turboprop Single.jpeg";
import MilitaryProgramImage from "../../public/img/military-program.webp";
import InternationalProgramImage from "../../public/img/international-program.webp";
import WeAreSummitImage from "../../public/img/fromWIX/AdobeStock_139858404.jpeg";
import Section from "../components/Section.astro";
import Reviews from "../components/Reviews";
import Partners from "../components/Partners.astro";
---

<HomeLayout
  pageTitle="Home | Summit Flight Academy"
  pageDescription="Join Summit Flight Academy for top-notch flight instruction. We welcome students ranging from those in the El Paso, La Cruces, and Santa Teresa areas, international students, and future military pilots. Get to know our M-1 visa programs for international students and the unique military programs we offer as a Part 141 school and Cessna Pilot Center. As the premier flight school in the region, we hold ourselves to the highest standards so that our students can be up in the air in no time."
  pageKeywords="flight school el paso texas, pilot training santa teresa, KDNA flight school, las cruces flight school, Ft. Bliss Flight school, Ft. Bliss RTAG, Ft. Bliss pilot training, el paso pilot training, Juarez mexico international students, m1 m-1 visa international FAA pilot program,  Odessa Texas pilot school, Midland texas flight school  FAA certifications, purdue global aviation, M-1 Visa, foreign pilot licenses, aviation career, Part 141 flight school"
>
  <!-- Header -->
  <header
    class="relative top-0 h-screen-3/4 bg-home bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5 h-full justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tight">
        Become a Pilot with Summit
      </h1>
      <h2 class="text-3xl tracking-wide">
        Your Leading Flight School in Kansas City at Lee's Summit Airport
      </h2>
      <a href="#contactUs" class="btn-red">Enroll Today</a>
    </div>
    <Partners />
  </header>

  <Section reverse={true}>
    <img
      slot="image"
      src={TrainingProgramImage.src}
      alt="CFI gazes into the rotating propellers of a Cessna 172 at Summit Flight Academy"
      class="object-cover h-80 lg:h-[350px] lg:mt-24 rounded"
      loading="lazy"
    />

    <div slot="content" class="max-w-2xl flex flex-col items-center mt-24">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        Our Flight Training
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        Navigate the skies with confidence through Summit Flight Academy's
        tailored training programs.
      </h3>
      <div class="text-gray-800 tracking-wider">
        <p class="pt-5">
          Pursuing a career as a pilot is a dream for many, offering a unique
          blend of excitement, freedom, and personal growth. At Summit Flight
          Academy, we understand the allure of taking to the skies and are
          committed to helping you embark on this rewarding journey. ​ As a
          pilot, you'll experience the exhilaration of commanding an aircraft,
          navigating through the skies with precision and skill.
        </p>
      </div>
      <a href="/flight-programs/training-courses" class="w-fit">
        <div class="btn-red my-10">Explore Our Training</div>
      </a>
    </div>
  </Section>

  <Section red={true}>
    <img
      slot="image"
      src={DiscoveryFlightImage.src}
      alt="CFI and student pilot in front of a Cessna 172 at the Dona Ana County International Jetport (KDNA)"
      class="object-cover object-left h-80 lg:h-[600px] rounded"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        How to Become a Pilot
      </h2>
      <h3 class="pt-5 text-xl italic text-center">It’s as easy as 1-2-3!</h3>
      <div class="text-gray-100 tracking-wider">
        <p class="pt-5">
          Embark on the exciting journey to becoming a pilot with Summit Flight
          Academy by following these structured steps:
        </p>
        <ol class="pt-5 list-decimal pl-10 flex flex-col gap-2">
          <li>
            <span class="font-semibold">Sign Up:</span> Enroll in Summit's Private
            Pilot Program to receive comprehensive knowledge and hands-on experience
            guided by seasoned instructors.
          </li>
          <li>
            <span class="font-semibold">Train:</span> Immerse yourself in hands-on
            flight training and Summit's tailored ground school education, gaining
            expertise in navigation, weather patterns, and regulations.
          </li>
          <li>
            <span class="font-semibold">Pass the Exams:</span> Successfully complete
            the FAA written exam, a practical flight test with a FAA Designated Pilot
            Examiner (DPE), and receive your Private Pilot License. This achievement
            marks the beginning of further advancements in your aviation evolution.
          </li>
        </ol>
        <p class="pt-5">
          By choosing our structured approach to pilot training, you’ll soon be
          up in the air on your own, and closer to succeeding in your aviation
          goals than ever before.
        </p>
      </div>
      <a href="/discovery-flight" class="w-fit">
        <div class="btn-black my-10">Book a Discovery Flight</div>
      </a>
    </div>
  </Section>

  <!-- <Section reverse={true}>
    <img
      slot="image"
      src={MilitaryProgramImage.src}
      alt="Fleet of Sikorsky CH-53K King Stallion helicopters over KDNA at Summit Flight Academy"
      class="object-cover h-80 lg:h-[600px]"
      loading="lazy"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        Military/Rotor Transition Training
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        As the only Part 141 certified flight school in the region, we
        specialize in providing airplane pilot training programs for our
        military students.
      </h3>
      <div class="text-gray-800 tracking-wider">
        <p class="pt-5">
          Whether you are a military or a civilian helicopter pilot, you can
          easily transition into a fixed-wing aircraft with an add-on. We offer
          add-on training for Private Pilot, Instrument Rating, and Commercial
          Pilot.
        </p>
        <p class="pt-5">Further military offerings:</p>
        <ul class="pt-5 list-disc pl-10 flex flex-col gap-2">
          <li>
            Military/Rotor Transition Programs: Tailored for individuals adding
            fixed wing aviation qualifications to their helicopter military
            experience, these programs facilitate a seamless transition to
            civilian flight training.
          </li>
          <li>
            Post 9-11 GI Bill® Accepted: Summit proudly supports our military
            students by accepting the Post 9-11 GI Bill® and offering financial
            assistance to those eligible for educational benefits.
          </li>
          <li>
            Financing Options with the COOL Program (Open to Army/Air Force):
            Credentialing Assistance under the COOL Program provides financial
            support for education, empowering military students to pursue their
            aviation aspirations with grants ranging from $1,000 to $4,000
            annually.
          </li>
        </ul>
        <p class="pt-5">Explore the options and learn more below.</p>
      </div>
      <a href="flight-programs/military-rotor-transition" class="w-fit">
        <div class="btn-red my-10">Visit Our Military Page</div>
      </a>
    </div>
  </Section> -->

  <Section>
    <img
      slot="image"
      src={WeAreSummitImage.src}
      alt="The Summit Academy Team at Dona Ana County International Jetport (KDNA)"
      class="object-cover h-80 object-center lg:h-[500px] rounded"
      loading="lazy"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        We Are Summit Flight Academy
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        Come get to know our elite team of CFIs and staff.
      </h3>
      <div class="text-gray-800 tracking-wider">
        <p class="pt-5">
          Pursuing a career as a pilot is a dream for many, offering a unique
          blend of excitement, freedom, and personal growth. At Summit Flight
          Academy, we understand the allure of taking to the skies and are
          committed to helping you embark on this rewarding journey. ​ As a
          pilot, you'll experience the exhilaration of commanding an aircraft,
          navigating through the skies with precision and skill. Every flight is
          an adventure, filled with breathtaking views and a sense of
          accomplishment that few careers can match. Beyond the thrill of
          flight, this career path cultivates invaluable qualities such as
          decision-making, problem-solving, and teamwork, contributing to your
          personal growth.
        </p>
        <p class="pt-5">
          The world of aviation offers a multitude of opportunities, from
          commercial airline pilot to corporate aviator or even an instructor.
          With a pilot's license, you'll have the freedom to explore diverse
          roles, travel to new destinations, and embark on exciting adventures
          that few professions can match.
        </p>
      </div>
      <a href="/about/our-story" class="w-fit">
        <div class="btn-red my-10">Why Summit?</div>
      </a>
    </div>
  </Section>

  <GuideDownload />

  <Reviews client:visible />

  <!-- Contact Us Form -->
  <ContactUs />
</HomeLayout>
