---
import GuideDownload from "../components/GuideDownload.astro";
import ContactUs from "../components/ContactUs.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import TrainingProgramImage from "../../public/img/training-program.webp";
import DiscoveryFlightImage from "../../public/img/discovery-flight.webp";
import MilitaryProgramImage from "../../public/img/military-program.webp";
import InternationalProgramImage from "../../public/img/international-program.webp";
import WeAreRedArrowImage from "../../public/img/we-are-red-arrow.webp";
import Section from "../components/Section.astro";
import Reviews from "../components/Reviews";
import Partners from "../components/Partners.astro";
---

<HomeLayout
  pageTitle="Home | Red Arrow Flight Academy"
  pageDescription="Join Red Arrow Flight Academy for top-notch flight instruction. We welcome students ranging from those in the El Paso, La Cruces, and Santa Teresa areas, international students, and future military pilots. Get to know our M-1 visa programs for international students and the unique military programs we offer as a Part 141 school and Cessna Pilot Center. As the premier flight school in the region, we hold ourselves to the highest standards so that our students can be up in the air in no time."
  pageKeywords="flight school el paso texas, pilot training santa teresa, KDNA flight school, las cruces flight school, Ft. Bliss Flight school, Ft. Bliss RTAG, Ft. Bliss pilot training, el paso pilot training, Juarez mexico international students, m1 m-1 visa international FAA pilot program,  Odessa Texas pilot school, Midland texas flight school  FAA certifications, purdue global aviation, M-1 Visa, foreign pilot licenses, aviation career, Part 141 flight school"
>
  <!-- Header -->
  <header
    class="relative top-0 h-screen-3/4 bg-home bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5 h-full justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tight">Become a Pilot</h1>
      <h2 class="text-3xl tracking-wide">
        Your Cessna Pilot Center Flight School in Santa Teresa, NM
      </h2>
      <a href="#contactUs" class="btn-red">Contact Us</a>
    </div>
    <Partners />
  </header>

  <Section reverse={true}>
    <img
      slot="image"
      src={TrainingProgramImage.src}
      alt="CFI gazes into the rotating propellers of a Cessna 172 at Red Arrow Flight Academy"
      class="object-cover h-80 lg:h-[350px] lg:mt-24"
      loading="lazy"
    />

    <div slot="content" class="max-w-2xl flex flex-col items-center mt-24">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        Our Flight Training
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        Navigate the skies with confidence through Red Arrow Flight Academy's
        tailored training programs.
      </h3>
      <div class="text-gray-800 tracking-wider">
        <p class="pt-5">
          At Red Arrow, we have accelerated and flexible training programs to
          accommodate your unique schedule and goals. Each program will be a
          blend of simulator and hands-on training. Immerse yourself in a
          transformative learning experience that prepares you for a future in
          aviation from private pilot to CFI. Many of our graduates have moved
          on to the airlines and other exciting career opportunities.
        </p>
      </div>
      <a href="/flight-programs/training-courses" class="w-fit">
        <div class="btn-red my-10">Explore Our Training</div>
      </a>
    </div>
  </Section>

  <Section red={true}>
    <img
      slot="image"
      src={DiscoveryFlightImage.src}
      alt="CFI and student pilot in front of a Cessna 172 at the Dona Ana County International Jetport (KDNA)"
      class="object-cover h-80 lg:h-[600px]"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        How to Become a Pilot
      </h2>
      <h3 class="pt-5 text-xl italic text-center">It’s as easy as 1-2-3!</h3>
      <div class="text-gray-100 tracking-wider">
        <p class="pt-5">
          Embark on the exciting journey to becoming a pilot with Red Arrow
          Flight Academy by following these structured steps:
        </p>
        <ol class="pt-5 list-decimal pl-10 flex flex-col gap-2">
          <li>
            <span class="font-semibold">Register Your Interest:</span> Enroll in
            Red Arrow's Private Pilot Program to receive comprehensive knowledge
            and hands-on experience guided by seasoned instructors.
          </li>
          <li>
            <span class="font-semibold">Learn the Ins-and-Outs:</span> Immerse yourself
            in hands-on flight training and Red Arrow's tailored ground school education,
            gaining expertise in navigation, weather patterns, and regulations.
          </li>
          <li>
            <span class="font-semibold">Pass the Exams:</span> Successfully complete
            the FAA written exam, a practical flight test with a FAA Designated Pilot
            Examiner (DPE), and receive your Private Pilot License. This achievement
            marks the beginning of further advancements in your aviation evolution.
          </li>
        </ol>
        <p class="pt-5">
          By choosing our structured approach to pilot training, you’ll soon be
          up in the air on your own, and closer to succeeding in your aviation
          goals than ever before.
        </p>
      </div>
      <a href="/discovery-flight" class="w-fit">
        <div class="btn-black my-10">Book a Discovery Flight</div>
      </a>
    </div>
  </Section>

  <Section reverse={true}>
    <img
      slot="image"
      src={MilitaryProgramImage.src}
      alt="Fleet of Sikorsky CH-53K King Stallion helicopters over KDNA at Red Arrow Flight Academy"
      class="object-cover h-80 lg:h-[600px]"
      loading="lazy"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        Military/Rotor Transition Training
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        As the only Part 141 certified flight school in the region, we
        specialize in providing airplane pilot training programs for our
        military students.
      </h3>
      <div class="text-gray-800 tracking-wider">
        <p class="pt-5">
          Whether you are a military or a civilian helicopter pilot, you can
          easily transition into a fixed-wing aircraft with an add-on. We offer
          add-on training for Private Pilot, Instrument Rating, and Commercial
          Pilot.
        </p>
        <p class="pt-5">Further military offerings:</p>
        <ul class="pt-5 list-disc pl-10 flex flex-col gap-2">
          <li>
            Military/Rotor Transition Programs: Tailored for individuals adding
            fixed wing aviation qualifications to their helicopter military
            experience, these programs facilitate a seamless transition to
            civilian flight training.
          </li>
          <li>
            Post 9-11 GI Bill® Accepted: Red Arrow proudly supports our
            military students by accepting the Post 9-11 GI Bill® and offering
            financial assistance to those eligible for educational benefits.
          </li>
          <li>
            Financing Options with the COOL Program (Open to Army/Air Force):
            Credentialing Assistance under the COOL Program provides financial
            support for education, empowering military students to pursue their
            aviation aspirations with grants ranging from $1,000 to $4,000
            annually.
          </li>
        </ul>
        <p class="pt-5">Explore the options and learn more below.</p>
      </div>
      <a href="flight-programs/military-rotor-transition" class="w-fit">
        <div class="btn-red my-10">Visit Our Military Page</div>
      </a>
    </div>
  </Section>

  <Section red={true}>
    <img
      slot="image"
      src={InternationalProgramImage.src}
      alt="Propeller plane flying above the El Paso mountains"
      class="object-cover h-80 lg:h-[600px]"
      loading="lazy"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        International Students
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        For international students and foreign pilot licenses.
      </h3>
      <div class="text-gray-100 tracking-wider">
        <p class="pt-5">
          Red Arrow Flight Academy warmly welcomes international students too.
          Our International Program is thoughtfully crafted to provide a
          seamless experience for pilots from around the world.
        </p>
        <p class="pt-5">
          Just as with our domestic program, we offer a range of comprehensive
          training programs, including Private Pilot, Instrument Rating, and
          Commercial Pilot certifications. Our expert instructors,
          state-of-the-art fleet, and proven training methodologies ensure that
          international students receive top-notch education, preparing them for
          success in flying. Additionally, for those with existing pilot
          licenses, our streamlined process for converting foreign licenses to
          FAA certifications opens the door to further career opportunities in
          the United States.
        </p>
        <p class="pt-5">
          At Red Arrow, we understand the unique needs of international
          students. Our M-1 Visa and training request procedures have been
          designed to facilitate a smooth transition, allowing students to focus
          on their training without unnecessary bureaucratic hurdles. Join us at
          Red Arrow Flight Academy and start your journey to becoming a pilot,
          no matter where you’re from.
        </p>
      </div>
      <a href="/flight-programs/international-program" class="w-fit">
        <div class="btn-black my-10 hidden lg:block">
          Explore Our International Options
        </div>
        <div class="btn-black my-10 lg:hidden">International Program</div>
      </a>
    </div>
  </Section>

  <Section reverse={true}>
    <img
      slot="image"
      src={WeAreRedArrowImage.src}
      alt="The Red Arrow Academy Team at Dona Ana County International Jetport (KDNA)"
      class="object-cover h-80 object-left lg:h-[500px]"
      loading="lazy"
    />
    <div slot="content" class="max-w-2xl flex flex-col items-center">
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        We Are Red Arrow Flight Academy
      </h2>
      <h3 class="pt-5 text-xl italic text-center">
        Come get to know our elite team of CFIs and staff.
      </h3>
      <div class="text-gray-800 tracking-wider">
        <p class="pt-5">
          At Red Arrow Flight Academy, we are committed to professionally
          getting you into the air as fast and safely as possible. As a center
          for aviation training, we take pride in our global partnerships while
          remaining deeply to our locales of El Paso, Santa Teresa, Las Cruces,
          and surrounding areas. We guide our students from zero pilot training
          to comfortably navigating the skies with our expert team and
          long-standing history.
        </p>
        <p class="pt-5">
          Come get to know us and our unique offerings for international
          students, Purdue Global University programs, and military students.
          Beyond the cockpit, our dedication to continuous learning is reflected
          in our extracurricular "Learning Lesson" sessions, fostering local
          connections with other flight enthusiasts. Join us to experience the
          Red Arrow difference in your training today.
        </p>
      </div>
      <a href="/about/our-story" class="w-fit">
        <div class="btn-red my-10">Why Red Arrow?</div>
      </a>
    </div>
  </Section>

  <GuideDownload />

  <Reviews client:visible />

  <!-- Contact Us Form -->
  <ContactUs />
</HomeLayout>
