---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FAQs from "../../components/FAQs";
import { CheckrideFAQs as GeneralFAQs } from "../../data/checkrideFAQs";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import UnderHeaderVideo from "../../components/UnderHeaderVideo.astro";
import CheckRideRoadMap from "../../components/CheckRideRoadMap.astro";
import CardWhite from "../../components/CheckrideComponents/CardWhite.astro";
import CardBlue from "../../components/CheckrideComponents/CardBlue.astro";
import CardsContainer from "../../components/CheckrideComponents/CardsContainer.astro";
import { CHECKRIDE_GUIDE } from "../../data/roadToYouCheckride3";

const header = {
  title: "Your Road to the Private Pilot Checkride",
  description:
    "Prepare for your FAA private pilot checkride with a step-by-step guide covering flight training milestones, knowledge exams, and practical test tips.",
  btns: [
    {
      title: "Download Guide",
      link: "/files/Road To Your Checkride.pdf",
      blank: true,
    },
    {
      title: "Details",
      link: "#",
      blank: false,
    },
  ],
};
---

<BaseLayout
  pageTitle="Road to Your Checkride | Summit Flight Academy"
  pageDescription="Learn everything you need to know about preparing for your private pilot checkride, including training milestones, FAA requirements, and tips for success."
  pageKeywords="private pilot checkride, FAA practical test, pilot training, flight test, Summit Flight Academy"
>
  <header
    class="relative pt-24 py-12 lg:py-24 h-full bg-new-to-flying bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div
      class="absolute bg-gradient-to-b from-black/50 to-black/20 w-full h-full z-0"
    >
    </div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1
        class="text-3xl lg:text-5xl font-bold tracking-tight animate-slow-fade"
      >
        {header.title}
      </h1>
      <h2
        class="text-lg lg:text-3xl tracking-wide animate-slow-fade text-center text-pretty px-5"
      >
        {header.description}
      </h2>
      <div class="flex gap-2 items-center justify-center flex-wrap">
        {
          header.btns.map((btn) => (
            <a
              href={btn.link}
              class="btn-red"
              target={btn.blank ? "_blank" : "_self"}
            >
              {btn.title}
            </a>
          ))
        }
      </div>
    </div>
  </header>

  <UnderHeaderVideo
    title="Why Become a Pilot?"
    description="If you've thought about becoming a pilot, now is the perfect time to get started. Summit Flight Academy is your place to start training and get your pilot certificate and ratings. "
    videoId="rVbNTxcTwf4"
  />

  <CardWhite content={CHECKRIDE_GUIDE.checkrideAndExaminer} />

  <CardBlue content={CHECKRIDE_GUIDE.knowledgeTest} />

  <CardWhite content={CHECKRIDE_GUIDE.scheduling} />

  <UnderHeaderVideo
    title="How to Get Started"
    videoId="jsqzAKMlHZQ"
    description="Meet Andrew, a Certified Flight Instructor (CFI) at Summit Flight Academy with a passion for guiding students through their first flying experience. Andrew has been a part of the Summit team for six months and loves helping aspiring pilots achieve their dreams. Andrew walks you through the experience of taking off, climbing, and maneuvering a small aircraft for the first time."
  />

  <CardBlue content={CHECKRIDE_GUIDE.oralExamInsight} />

  <CheckRideRoadMap
    title={CHECKRIDE_GUIDE.acsTasks.title}
    description={CHECKRIDE_GUIDE.acsTasks.description}
    content={CHECKRIDE_GUIDE.acsTasks.steps}
  />

  <CardsContainer />
  <FAQs faqs={GeneralFAQs} type="General" client:visible />

  <EnrollNowCTA />

  <!-- Contact Us Form -->
  <!-- <ContactUs /> -->
</BaseLayout>
