---
import ImageComp from "../ImageComp.astro";

const example = {
  upperTitle: "Build confidence in your craft",
  title: "Do You Have What It Takes To Be A Pilot?",
  haveIcon: true,
  descriptions: [
    "Begin your path to becoming a pilot with our brief quiz. Our quiz is designed to look at your aviation-related knowledge and aptitude, alongside your unique personality traits and interests, to provide insights into whether a future in aviation aligns with your aspirations.",
  ],
  imagePath:
    "/src/assets/flight-students-on-the-runway-pre-flight-checks-certified-flight-instructor-summit-flight-academy-missouri-instrument-rating.webp",
  imageAlt:
    "summit-flight-academy-lees-summit-kansas-city-missouri-pilot-training-flight-students-on-the-runway-pre-flight-checks",
};

const { city, text1, content = example } = Astro.props;
---

<div class="relative bg-gray-900 flex flex-col md:flex-row">
  <!-- TEXT SIDE -->
  <div
    class="w-full md:w-1/2 py-16 px-6 sm:py-24 sm:px-8 lg:py-40 lg:px-12 flex items-center"
  >
    <section class="w-full text-center md:text-right">
      <h2 class="text-2xl font-semibold leading-7 text-gray-400">
        {content.upperTitle}
      </h2>

      <h3 class="my-6 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        {
          city
            ? `Do You Have What It Takes To Be A Pilot near ${city}?`
            : content.title
        }
      </h3>

      {text1 && <p class="py-6 text-base leading-7 text-gray-200">{text1}</p>}

      {
        content.descriptions.map((description) => (
          <article class="flex justify-start items-center md:flex-row-reverse py-3 gap-4">
            {content.haveIcon && (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="lg:h-8 lg:w-8 h-6 w-6 text-red-600 bg-white rounded-full border-2 border-red-600 shrink-0"
              >
                <path
                  fill="currentColor"
                  d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
                />
              </svg>
            )}

            <p class={`text-base lg:text-lg text-gray-200 ${content.haveIcon ? "text-left md:text-right" : "text-justify"}`}>
              <Fragment set:html={description} />
            </p>
          </article>
        ))
      }
    </section>
  </div>

  <!-- IMAGE SIDE -->
  <div class="w-full md:w-1/2">
    <ImageComp
      styles="h-64 w-full object-cover object-center md:h-full"
      imagePath={content.imagePath}
      imageAlt={content.imageAlt}
      quality="90"
    />
  </div>
</div>
