---
import { Icon } from "astro-icon/components";
import { FACEBOOK_LINK, INSTAGRAM_LINK } from "../consts";
import ContactUsModalButton from "./ContactUsModalButton";

const {
  title = "What's Next",
  body = "Reach out to us and schedule a call to explore your flight training options with Summit Flight Academy.",
} = Astro.props;
---

<section
  class="flex flex-col items-center justify-center align-middle min-h-[36rem] bg-cover bg-center bg-[url('/img/summit-flight-academy-missoury-kansas-city-piper-back-view-amazing-sunset-whats-next.webp')] text-white relative"
  id="whats-next-cta"
>
  <div class="absolute bg-black/20 w-full h-full z-0"></div>
  <div class="flex flex-col items-center z-10 py-24">
    <div
      class="px-5 py-12 max-w-none md:max-w-2xl bg-white/90 rounded-none md:rounded flex flex-col items-center"
    >
      <h2
        class="mb-4 text-5xl font-semibold text-center tracking-tight text-gray-900"
      >
        {title}
      </h2>
      <p class="px-24 font-light text-lg text-center text-gray-600">
        {body}
      </p>
      <ContactUsModalButton
        btnSymbol={null}
        btnStyle="mt-9 btn-red"
        btnText="Contact Us"
        client:load
      />
      <div class="mt-8 flex justify-center items-center flex-wrap">
        <p class="text-black w-full text-center">Follow us on social media</p>
        <div class="mt-2 flex justify-center gap-4">
          <a href={FACEBOOK_LINK} target="_blank" rel="noopener">
            <Icon
              name="entypo-social:facebook"
              class="text-gray-700 text-4xl hover:scale-105 cursor-pointer transition-all"
            />
          </a>
          <a href={INSTAGRAM_LINK} target="_blank" rel="noopener">
            <Icon
              name="entypo-social:instagram"
              class="text-gray-700 text-4xl hover:scale-105 cursor-pointer transition-all"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
