---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import { Icon } from "astro-icon/components";
import UnderHeaderVideo from "../components/UnderHeaderVideo.astro";
import EnrollNowCTA from "../components/EnrollNowCTA.astro";
type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  imgAlt,
  author,
  readingTime,
  category,
  tags,
} = Astro.props;
---

<BaseLayout
  mainBg="bg-gradient-to-b from-gray-100 to-gray-300"
  pageTitle=`${title} | Blog | Summit Flight Academy`
  pageDescription={description}
  pageKeywords={`blog, private pilot's license, written exam, pilot resources, flight training, kansas city flight school, exam preparation, pilot licensing, aviation blog, pilot tips and tricks` +
    category +
    tags?.join(", ")}
>
  <article class="flex flex-col mt-36 mb-24 max-w-4xl mx-auto p-5 gap-5">
    <h1 class="text-4xl lg:text-5xl font-bold">{title}</h1>
    <div class="flex items-center gap-3">
      <div>
        <p>{author}</p>
        <p>{readingTime} read · <FormattedDate date={pubDate} /></p>
      </div>
    </div>
    <div class="">
      {
        heroImage && (
          <img
            src={heroImage}
            alt={imgAlt}
            class="aspect-[4/3] object-cover w-full h-full"
          />
        )
      }
    </div>
    <div class="w-full">
      <slot />
    </div>
  </article>
  <UnderHeaderVideo
    title="Meet Andrew"
    description="Learn how Andrew transitioned from a 31-year career in public service to his passion for aviation. With a unique background as a firefighter, paramedic, and police officer, Andrew brings over three decades of life experience to his role as a flight instructor. Andrew shares the exciting benefits of becoming a pilot, including the ability to travel and explore new destinations."
    videoId="HkUJ5JOp_u4"
  />
  <EnrollNowCTA />
</BaseLayout>
